<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timestamp Microservice</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>API: Timestamp Microservice</h1>
        <h4>Example Usage:</h4>
        <p><code><a href="https://timestamp-rt.herokuapp.com/December%2015,%202015">https://timestamp-rt.herokuapp.com/December%2015,%202015</a></code></p>
        <p><code><a href="https://timestamp-rt.herokuapp.com/1450137600">https://timestamp-rt.herokuapp.com/1450137600</a></code></p>
        <h4>Example Output:</h4>
        <code>{ "unix": 1450137600, "natural": "December 15, 2015" } </code>
    </div>
</div>
    
</body>
</html>